<%- include("partials/header.ejs") -%>
<!--Printing the title of the post here -->
<h1><%= postTitle %></h1>

<!-- rendering the content  -->

<p>
    <%= postContent %>
</p>

<%- include("partials/footer.ejs") -%>